<!doctype>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <link href="../public/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
      <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
      <title>Mumblr</title>
    </head>
    <body>
      <%= yield %>
    </body>


  </html>
