<div class="index_container">

  <h2>Single Mumble</h2>

    <div class="wrapper">

      <div class="show_mumble">


        <img class="author_thumb" src="<%=@mumble["author_thumbnail"] %>" width="45"/>

        <span class="author_handle"><%@mumble["author_handle"] %></span>

        <span class="date-text"><%@mumble["date"] %></span>

        <img src="<%=@mumble["image"] %>" />

        <p> <%=@mumble["text"] %> </p>

        <span class="likes"> <%= @mumble["likes"] %> Likes </span>


    </div> <!-- ends show_mumble -->

  </div> <!-- ends wrapper -->

</div> <!-- ends container -->
